In [ ]:
import requests

# API 엔드포인트 URL 설정
api_url = "https://api.nexon.co.kr/fifaonline4/v1.0/users?nickname={nickname}"

# 필요한 파라미터 설정 (예: 플레이어 ID, 최근 게임 수)
player_id = 123456789  # 플레이어의 실제 ID로 대체해야 합니다.
recent_games_count = 10  # 최근 게임 수를 설정합니다.

In [ ]:
### key : eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJYLUFwcC1SYXRlLUxpbWl0IjoiNTAwOjEwIiwiYWNjb3VudF9pZCI6IjE2NjEyMDcwNTQiLCJhdXRoX2lkIjoiMiIsImV4cCI6MTcxMTYzNDcxNywiaWF0IjoxNjk2MDgyNzE3LCJuYmYiOjE2OTYwODI3MTcsInNlcnZpY2VfaWQiOiI0MzAwMTE0ODEiLCJ0b2tlbl90eXBlIjoiQWNjZXNzVG9rZW4ifQ.oFiZWJK1IreeBbJ4gaxGOWS71X6XKHcYdNvuUcqdmNM

In [ ]:
# API 요청 헤더 설정 (API 키가 필요합니다)
headers = {
    "Authorization": "Bearer YOUR_API_KEY_HERE",  # 본인의 API 키로 대체해야 합니다.
    "User-Agent": "YourAppName/1.0",  # 앱 이름 및 버전을 설정합니다.
}

# API 요청 보내기 (플레이어의 최근 게임 데이터를 가져옴)
response = requests.get(f"{api_url}/{player_id}/matches?matchtype=total&page=1&rows={recent_games_count}", headers=headers)

# 응답 확인 및 데이터 처리
if response.status_code == 200:
    player_matches_data = response.json()
    # 여기서 필요한 데이터를 추출하고 분석 또는 저장합니다.
    print(player_matches_data)
else:
    print("API 요청이 실패하였습니다.")
    print(response.status_code, response.text)

# 상대 플레이어 정보 수집 (예시: 상대 플레이어의 최근 게임 데이터)
opponent_player_id = 987654321  # 상대 플레이어의 ID로 대체해야 합니다.
response = requests.get(f"{api_url}/{opponent_player_id}/matches?matchtype=total&page=1&rows={recent_games_count}", headers=headers)

if response.status_code == 200:
    opponent_matches_data = response.json()
    # 여기서 필요한 상대 플레이어의 데이터를 추출하고 분석합니다.
    print(opponent_matches_data)
else:
    print("API 요청이 실패하였습니다.")
    print(response.status_code, response.text)

# 이후 데이터를 활용하여 플레이어 승률 예측 모델을 구축하고 분석합니다.

In [1]:
import json
import pandas as pd
import requests

from pandas import DataFrame
from tqdm.notebook import tqdm

In [2]:
api_key = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJYLUFwcC1SYXRlLUxpbWl0IjoiNTAwOjEwIiwiYWNjb3VudF9pZCI6IjE2NjEyMDcwNTQiLCJhdXRoX2lkIjoiMiIsImV4cCI6MTcxMTYzNDcxNywiaWF0IjoxNjk2MDgyNzE3LCJuYmYiOjE2OTYwODI3MTcsInNlcnZpY2VfaWQiOiI0MzAwMTE0ODEiLCJ0b2tlbl90eXBlIjoiQWNjZXNzVG9rZW4ifQ.oFiZWJK1IreeBbJ4gaxGOWS71X6XKHcYdNvuUcqdmNM'

In [3]:
match_url = requests.get('https://static.api.nexon.co.kr/fifaonline4/latest/matchtype.json')
match_parsed_data = match_url.json()
match_type = pd.DataFrame(match_parsed_data)

In [4]:
match_type.head()

   matchtype      desc
0         30     리그 친선
1         40  클래식 1on1
2         50      공식경기
3         52      감독모드
4         60     공식 친선

In [ ]:
## 선수 고유 식별자
## 선수 고유 식별자의 메타데이터를 조회합니다. 선수 고유 식별자는 시즌아이디(seasonid) 3자리와 선수아이디(pid) 6자리로 구성되어 있습니다.

In [5]:
spId_url = requests.get('https://static.api.nexon.co.kr/fifaonline4/latest/spid.json')
spId_parsed_data = spId_url.json()
spId = pd.DataFrame(spId_parsed_data)

In [6]:
spId.head()

          id        name
0  100000250     데이비드 베컴
1  100001075     A. 델피에로
2  100001114     로베르토 바조
3  100001256  클라렌스 세이도르프
4  100001397      지네딘 지단

In [ ]:
## 선수 포지션

In [7]:
spposition_url = requests.get('https://static.api.nexon.co.kr/fifaonline4/latest/spposition.json')
spposition_parsed_data = spposition_url.json()
spposition = pd.DataFrame(spposition_parsed_data)

In [8]:

spposition

    spposition desc
0            0   GK
1            1   SW
2            2  RWB
3            3   RB
4            4  RCB
5            5   CB
6            6  LCB
7            7   LB
8            8  LWB
9            9  RDM
10          10  CDM
11          11  LDM
12          12   RM
13          13  RCM
14          14   CM
15          15  LCM
16          16   LM
17          17  RAM
18          18  CAM
19          19  LAM
20          20   RF
21          21   CF
22          22   LF
23          23   RW
24          24   RS
25          25   ST
26          26   LS
27          27   LW
28          28  SUB